.idea/
idea-module-files/
*.iml

hybris/bin/ext-accelerator/
hybris/bin/ext-addon/
hybris/bin/ext-atdd/
hybris/bin/ext-atddtests/
hybris/bin/ext-backoffice/
hybris/bin/ext-channel/
hybris/bin/ext-cockpit/
hybris/bin/ext-commerce/
hybris/bin/ext-content/
hybris/bin/ext-data/
hybris/bin/ext-eventtracking/
hybris/bin/ext-integration/
hybris/bin/ext-platform-backoffice/
hybris/bin/ext-platform-optional/
hybris/bin/ext-print/
hybris/bin/ext-supportability/
hybris/bin/ext-template/
hybris/bin/platform/
hybris/data/
hybris/log/
hybris/temp/

*hmc.jar
gensrc/

classes/
.settings/
.project
.classpath
