.idea/
idea-module-files/
*.iml

hybris-apidoc/
hybris/bin/ext-accelerator/
hybris/bin/ext-addon/
hybris/bin/ext-atdd/
hybris/bin/ext-atddtests/
hybris/bin/ext-backoffice/
hybris/bin/ext-channel/
hybris/bin/ext-cockpit/
hybris/bin/ext-commerce/
hybris/bin/ext-content/
hybris/bin/ext-data/
hybris/bin/ext-eventtracking/
hybris/bin/ext-integration/
hybris/bin/ext-platform-backoffice/
hybris/bin/ext-platform-optional/
hybris/bin/ext-print/
hybris/bin/ext-supportability/
hybris/bin/ext-template/
hybris/bin/platform/
hybris/data/
hybris/log/
hybris/temp/

installer/.gradle
installer/customconfig
installer/docs
installer/gradle
installer/libs
installer/logs
installer/work
installer/build.gradle
installer/gradlew
installer/gradlew.bat
installer/install.bat
installer/install.sh
installer/installer_bash_completion.sh
installer/JavaVersionChecker
installer/plugins.conf
installer/README.md
installer/settings.gradle
installer/JavaVersionChecker.java
config/backup/
config/solr/
*_bof.jar
gensrc/

local.properties
localextensions.xml

*hmc.jar

classes/
.settings/
.project
.classpath
